[submodule "library/m"]
	path = library/m
	url = https://github.com/mendess/m
[submodule "library/lemons"]
	path = library/lemons
	url = https://github.com/mendess/lemons
[submodule "foretell"]
	path = foretell
	url = https://github.com/mendess/foretell
[submodule "library/foretell"]
	path = library/foretell
	url = https://github.com/mendess/foretell
